@model SporSalonuUyelik.Models.Odeme

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Odeme</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uye)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uye.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tutar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tutar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OdemeTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OdemeTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OdemeTipi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OdemeTipi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
