@model SporSalonuUyelik.Models.Uyelik

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Uyelik</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uye)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uye.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UyelikPaketi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UyelikPaketi.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaslangicTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaslangicTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitisTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitisTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AktifMi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AktifMi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
